<!DOCTYPE html>

<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename=('bulma.css')) }}">
    <script src="{{ url_for('static', filename=('vue.js')) }}"></script>
  </head>
  <body>
    {% block header %}
    {% endblock %}
    <div class="columns is-centered">
      <div class="column is-4" id="runner_table">
        <div class="columns is-centered">
          <div class="column is-narrow">
            <table class="table is-striped">
              <thead>
                <th>枠番</th>
                <th>名前</th>
                <th>調子</th>
                <th>オッズ</th>
              </thead>
              <tbody>
              {% for entry in entries %}
                <tr>
                  <th>{{ entry["frame"] }}</th>
                  <th>{{ entry["name"] }}</th>
                  <th>{{ entry["state"] }}</th>
                  <th>{{ entry["odds"] }}</th>
                </tr>
              {% endfor %}
              </tfoot>
            </table>
          </div>
        </div>
      </div>
      <div class="column is-4" id="buyrace">
        <form method="post" action="/buy">
          <div class="buytype_selector columns is-centered">
            <div class="column is-narrow">
              <label class="radio">
                <input v-model="select" v-on:click="openSelector" type="radio" name="buy_type" value="tansho">単勝</label>
              <label class="radio">
                <input v-model="select" type="radio" name="buy_type" value="sanrentan">三連単</label>
            </div>
          </div>
          <div id="tansho_selector" class="columns is-centered" hidden>
            <div class="column is-narrow">
              1着.
              <span class="select">
                <select name="tansho_horse">
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                  <option value="6">6</option>
                  <option value="7">7</option>
                  <option value="8">8</option>
                  <option value="9">9</option>
                  <option value="10">10</option>
                  <option value="11">11</option>
                  <option value="12">12</option>
                  <option value="13">13</option>
                  <option value="14">14</option>
                  <option value="15">15</option>
                  <option value="16">16</option>
                </select>
              </span>
            </div>
          </div>
          <div id="sanrentan_selector" class="columns is-centered" hidden>
            <div class="column is-narrow">
              1着.
              <span class="select">
                <select name="first_horse">
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                  <option value="6">6</option>
                  <option value="7">7</option>
                  <option value="8">8</option>
                  <option value="9">9</option>
                  <option value="10">10</option>
                  <option value="11">11</option>
                  <option value="12">12</option>
                  <option value="13">13</option>
                  <option value="14">14</option>
                  <option value="15">15</option>
                  <option value="16">16</option>
                </select>
              </span>
              2着.
              <span class="select">
                <select name="second_horse">
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                  <option value="6">6</option>
                  <option value="7">7</option>
                  <option value="8">8</option>
                  <option value="9">9</option>
                  <option value="10">10</option>
                  <option value="11">11</option>
                  <option value="12">12</option>
                  <option value="13">13</option>
                  <option value="14">14</option>
                  <option value="15">15</option>
                  <option value="16">16</option>
                </select>
              </span>
              3着.
              <span class="select">
                <select name="third_horse">
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                  <option value="6">6</option>
                  <option value="7">7</option>
                  <option value="8">8</option>
                  <option value="9">9</option>
                  <option value="10">10</option>
                  <option value="11">11</option>
                  <option value="12">12</option>
                  <option value="13">13</option>
                  <option value="14">14</option>
                  <option value="15">15</option>
                  <option value="16">16</option>
                </select>
              </span>
            </div>
          </div>
          <div class="columns is-centered">
            <div class="column is-narrow">
              <button class="button is-primary">BUY</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>

<script>
    import WinSelector from './win_selector.vue';

    var app = new Vue({
    el: '#buyrace',
    delimiters: ['${', '}'],
    data: {
      select: "",
    },
    methods: {
      openSelector: function() {
        if (this.select == "tansho") {
          console.log("tansho!")
        }else if (this.select == "sanrentan") {
          console.log("sanrentan!")
        }
      }
    }
  })
</script>
