<!DOCTYPE html>

<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename=('bulma.css')) }}">
    <script src="{{ url_for('static', filename=('vue.js')) }}"></script>
    <title>magestic</title>
  </head>
  <body>
    <div class="hero">
      <section class="hero is-small is-primary">
        <div class="hero-body">
          <p class="title">magestic</p>
        </div>
      </section>
    </div>

    <div id="app-body">

      <div class="columns is-centered mt-6">
        <div class="column is-4">
          <input v-model="website" class="input" type="text" placeholder="Input URL">
        </div>
        <div class="column is-1">
          <button v-on:click="callApi" class="button is-primary">submit</button>
        </div>
      </div>

      <div class="columns is-centered mt-6">
        <div class="column is-8">
          <article class="message is-success is-half">
            <div class="message-header">
              <p>Response</p>
            </div>
            <div class="message-body">
              ${ apiresp }
            </div>
          </article>
        </div>
      </div>
    </div>

  </body>
</html>

<script>
  var app = new Vue({
    el: '#app-body',
    delimiters: ['${', '}'],
    data: {
      website: "",
      apiresp: ""
    },
    methods: {
      callApi: function() {
        fetch(window.location.href + "api/request", {
          method: "POST",
          headers:{'Content-Type': 'application/x-www-form-urlencoded'},
          body: "fqdn=" + this.website
        }).then(resp=>{
            return resp.text()
        }).then(text=>{
          this.apiresp = text
        }).catch(err=>{
          this.apiresp = "fetch api call error"
        })
      }
    }
  })

</script>
